:root{
  --white: #fcf9f5;
  --white-see-through: rgba(239, 243, 251, 0.8);
  --balck: #2A292D;
  --brown: #4B4442;
  --blue-see-through: rgba(93, 111, 135, 0.7);
  --deep-blue: rgb(57, 57, 76);
  --dark-blue:#39495f;
  --blue: #546c86;
  --light-blue:#8C9FB7;
  --orange: #f16b4f;
  --peach: #df8f74;
  --tan: #F0BD85;
  --sand: #DDCCB4;
  --cream: #fff2e1;

--font1: 'League Spartan', sans-serif;
--font2: 'Martel', serif;
--font3: 'Questrial', sans-serif;
--font4: 'Secular One', sans-serif;
--font5: 'Solway', serif;


}

.App {
  text-align: center;
  /* background-color: var(--white); */
  color: var(--blue);
  /* background-color: var(--blue); */
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  font-weight: 400;
}


ul{
  color: var(--deep-blue);
}

li{
  list-style: none;
  
}

.page-container{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

.page-container h1{
  padding-top: 50px;
  margin: 0;
}

button{
  margin: 10px auto;
  padding: 5px;
  border-radius: 20px;
  border: none;
  /* border: solid 1px var(--dark-blue); */
  padding: 8px;
  color: var(--white);
  background-color: var(--dark-blue);
  /* box-shadow: 5px 5px 10px var(--deep-blue); */
  font-family: var(--font1);
  font-size: 18px;
  font-weight: 400;
}

button:hover{
  /* color: var(--dark-blue); */
  cursor: pointer;
  background-color: var(--light-blue);
}

.form-cancel-btn{
  background-color: transparent;
  color: var(--dark-blue);
  font-weight: bold;
}
.form-cancel-btn:hover{
  background-color: transparent;
  color: var(--white);
  text-decoration: underline;
}



/* Font for the whole website */

h1{
  font-size: 3rem;
}

h2{
  font-family: var(--font1);
  font-size: 1.7rem;
}

h3{
  font-size: 1.3rem;
}
h4{
  font-size: 1.2rem;
}

p{
  font-size: 1.1rem;
}

/*-------NavBar---------*/
.nav {
  width: 100vw;
  height: 60px;
  /* position: fixed; */
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: left;
  align-items:center;
  align-content: center;
  flex-direction: row;
  z-index: 1;
  backdrop-filter: blur(5px);
  background-color: var(--dark-blue);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

.nav-menu a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none; 
  padding: 25px 0; 
  margin: 0 25px;
  transition: 0.2s ease-in-out;
  color: var(--white);
} 

.nav a:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.nav span{
  position: absolute;
  right: 125px;
  color: var(--white);
}

.hamburger {
	border: 0;
	height: 40px;
	width: 40px;
	padding: 0.5rem;
	border-radius: 50%;
	background-color: transparent;
  color: transparent;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
}

.logout-btn{
  position: absolute;
  right: 50px;
  color: var(--white);
  background-color: var(--blue);
  
}
.logout-btn:hover{
  background-color: var(--orange);
  color: var(--white);
  
}

/* ------- SearchBar-------- */
.search{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  padding: 50px 0 20px 0;
  /* background-color: var(--white); */
  width: 50vw;
  /* border: 2px solid black; */
  max-width: 1500px;
  overflow-y: none;
}

.search input, .search label{
  margin: 5px 10px;
  font-size: 18px;
  padding: 8px;
}

.search label{
  color: var(--main-plum);
}

.search input{
  width: 300px;
  border-radius: 25px;
  border: none;
  background-color: var(--light-blue);
}

/* ------- Home Page -------- */

.home-page{
  min-height: 80vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0px auto;
  padding: none;
  background-color: var(--white);
}
.home-info-container{
    bottom: 0px;
    z-index: 1;
    background-image: url('./ImageFolder/mouontain-brush-9.png');
    background-size: contain;
    background-position: bottom -10% right 0%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    max-width: 1600px;
    margin: 0px auto;
    /* border: 2px solid red; */
}

.home-info-details{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  z-index: 2;
  padding: 30px;
  width: 35vw;
  margin: 0 auto 30px auto;
  border-radius: 15px;
  backdrop-filter: blur(3px);
  background-color: rgba(94, 100, 117, 0.5);
}

.home-info-container img{
  margin-top: 0 auto 100px auto;
}

.home-info-container p{
  width: 35vw;
  color: var(--white);
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.05;
}
.home-info-container button{
  margin: 20px auto;
  background-color: var(--peach);
  box-shadow: 5px 5px 10px var(--deep-blue);

 
}
.home-info-container button:hover{
  background-color: var(--blue);
}



/* ------- Footer -------- */
.footer{
  height: 15vh;
  width: 100%;
  background-color: var(--peach);
  border-top: 8px solid var(--dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;

}

.footer img{
  height: 100px;
  width: 100px;

}

.footer span{
  font-size: 22px;
  font-weight: bold;
}
/* ------- Modal Delete -------- */
.confirm-delete-btn{
  margin-top: 30px;
  font-size: 20px;
  background-color: var(--dark-blue);
}
.confirm-delete-btn:hover{
  background-color: var(--orange);
  font-weight: bold;
  color: var(--white);
}

/* ------- Media Queries -------- */

@media screen and (max-width: 768px) {
  .hamburger {
		display: block;
    color: var(--white);
    z-index: 10;
    margin-top: 0px;
	}
  .hamburger:hover {
    background-color: var(--blue);
	}

  .nav-menu{
    flex-direction: column;
    justify-content: left;
    margin-top: 225px;
    padding: 10px 0;
    background-color: var(--blue-see-through);
    border-radius: 0 0 7px 0;
    transform: translateX(-100%);
		transition: 0.2s ease-in-out;
  }

  .nav-menu a{
    padding: 10px;
    color: var(--white);
    font-size: 18px;
  }

  .expanded {
    transform: translateX(0%);
  }
}

.hidden{
  display: none;
}