:root{
  --dark-blue: rgb(53, 53, 93);
}

.App {
  text-align: center;
}

li{
  list-style: none;
}

button{
  margin: 10px auto;
  padding: 5px;
  border-radius: 15px;
  border: solid 1px var(--dark-blue);
  padding: 8px;
}

button:hover{
  font-weight: bold;
  transform: scale(1.1);
  cursor: pointer;
  color: white;
  background-color: var(--dark-blue);
}

/*-------NavBar---------*/
.nav {
  width: 100vw;
  height: 60px;
  /* position: fixed; */
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: left;
  align-items:center;
  align-content: center;
  flex-direction: row;
  z-index: 1;
  /* width: 70vw; */
  /* max-width: 1500px; */
  backdrop-filter: blur(5px);
  background-color: aqua;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

.nav-menu a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none; 
  padding: 25px 0; 
  margin: 0 25px;
  transition: 0.2s ease-in-out;
  color: var(--dark-blue);
} 

.nav a:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.nav span{
  position: absolute;
  right: 125px;
  color: var(--dark-blue);
}

.hamburger {
	border: 0;
	height: 40px;
	width: 40px;
	padding: 0.5rem;
	border-radius: 50%;
	background-color: transparent;
  color: white;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
}

.logout-btn{
  position: absolute;
  right: 50px;
  
}

/* ------- Profile -------- */

.profile-img{
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}


/* ------- Trip-Form-Page -------- */
.trip-form-page{
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

}

.trip-form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0 auto;
}

.trip-form input, .submit-btn{
  width: 60%;
  margin: 10px auto;
  padding: 5px;
  border: solid 1px var(--dark-blue);
  
}

.submit-btn{
  padding: 7px;
  width: 45%;
 
}


/* ------- Media Queries -------- */

@media screen and (max-width: 768px) {
  .hamburger {
		display: block;
    background-color: rgb(46, 44, 44);
    z-index: 10;
	}

  .nav-menu{
    flex-direction: column;
    justify-content: left;
    margin-top: 200px;
    padding: 10px 0;
    /* background-color: black; */
    border-radius: 0 0 7px 0;
    transform: translateX(-100%);
		transition: 0.2s ease-in-out;
  }

  .nav-menu a{
    padding: 5px;
    color: rgb(121, 114, 114);
    font-size: 12px;
  }

  .expanded {
    transform: translateX(0%);
  }
}

.hidden{
  display: none;
}