
/* ------- Profile -------- */

.profile{
    height: 90vh;
    max-width: 1600px;
    margin: 0 auto;
    /* padding-top: 60px; */
}
.profile h1{
    margin-top: 0;
    padding-bottom: 30px;

}


.profileImg-container{
    position: relative;
    width: 30vw;
    margin: 0 auto;
    /* background-color: aqua; */

}
.profile-img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--dark-blue);
    box-shadow: 5px 5px 10px var(--dark-blue);
}

.view-myTrips-btn{
    width: 10%;
    background-color: var(--dark-blue);
    color: white;
    box-shadow: 5px 5px 10px var(--dark-blue);

}

.profile-btn-container{
    position: relative;
    width: 90vw;
    max-width: 1600px;
    margin: 50px auto;
    /* background-color: aquamarine; */
}
.edit-profile-btn, .delete-profile-btn{
    position: absolute;
    box-shadow: 5px 5px 10px var(--deep-blue);
}

.edit-profile-btn{
    right: 25px;
}

.delete-profile-btn{
    left: 25px;
}

.delete-profile-img-btn{
    position: absolute;
    /* right: 100px; */
    background-color: transparent;

}

.edit-profile-img-btn{
    position: absolute;
    right: 40px;
    bottom: -10px;
    background-color: transparent;
    color: var(--blue);
    border: none;
    font-size: 25px;
}
.edit-profile-img-btn:hover{
    background-color: var(--dark-blue);
    /* color: var(--dark-blue); */

}

/*------EDIT FULL PROFILE FORM*/

.edit-full-profile-form{
    max-width: 80vw;
    color: var(--blue); 
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--dark-blue); */
    padding: 50px;
    border-radius: 15px;
    margin: 0 auto;
}
.edit-full-profile-form input{
    width: 30%;
    margin: 10px auto;
    padding: 7px;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 15px;
}

.edit-full-profile-form textarea{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--dark-blue);
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    width: 60%;
    height: 15vh;
    margin: 10px auto;
}
 #file-upload{
    border: none;
    background-color: var(--light-blue);
    width: 80%;
    padding: 7px;
 }


/* 
     -------- Edit single image ACTUAL FORM ------- */

.edit-profile-img-btn:hover{
    background-color: transparent;
    color: var(--light-blue);
    font-weight: bold;
}

.edit-profile-img-form {
    color: white;
    /* padding-top: 50px; */
    height: 30vh;
}

.edit-profile-img-form label{
    color: transparent;
}

#submit-profile-img{
    margin-top: 20px;
    background-color: var(--dark-blue);
}
#submit-profile-img:hover{
    color: var(--dark-blue);
    background-color: var(--white);
}




