
/* ------- Profile -------- */

.profile-img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 1px solid var(--dark-blue); */
}
.profile{
    height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
}

.view-myTrips-btn{
    width: 10%;
    background-color: var(--dark-blue);
    color: white;
    font-weight: bold;

}

.view-myTrips-btn:hover{
    background-color: transparent;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    font-weight: bold;
    /* transform: scale(1.1); */
}

.btn-container{
    position: relative;
    width: 90vw;
    max-width: 1600px;
    margin: 50px auto;
    background-color: aquamarine;
}

.profile-form{
    max-width: 50vw;
    /* background-color: aquamarine; */
    border: 1px solid var(--dark-blue);
    padding: 10px;
    border-radius: 15px;
    margin: 20px auto;
}

.profile-form textarea{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--dark-blue);
    width: 60%;
    height: 15vh;
    margin: 10px auto;
}
 #file-upload{
    border: none;
    width: 30%;
 }

.edit-profile-btn, .delete-profile-btn{
    position: absolute;
}

.edit-profile-btn{
    right: 25px;
}

.delete-profile-btn{
    left: 25px;
}

