.public-trips-page{
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-position: fixed;
    overflow-y: scroll;
}

.public-trips-page h1{
    /* background-color: aqua; */
    padding: 20px;
    margin: 0;
}

.public-trip-card{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60vw;
    height: 75vh;
    margin: 0 auto;
    border-bottom: 2px solid var(--blue);
    padding: 20px;
}


.public-trip-card-avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: center;
}

.public-trip-card-image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: aqua; */
    width: 75%;
}

.public-trip-card-img{
    height: 275px;
    width: 300px;
    object-fit: cover;
    border-radius: 7px;
    margin: 20px;
}

.like-btn{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: transparent;
    color: var(--orange);
    font-size: 30px;
    font-weight: bold;
    right: 20px;
    top: 0px;
}

.like-btn:hover{
    background-color: transparent;
    color: var(--delete-red);
}

.public-trip-card span{
    position: absolute;
    right: 5px;
    top: 40px;
    font-size: 12px;
    color: var(--blue);
}

