.my-trips-container{
    position: relative;
    background-image: url('../../ImageFolder/signs.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--white);
    z-index: 1;
    max-width: 1600px;
    margin: 0 auto;
}

.my-trips-container h1{
    color: var(--dark-blue);
}

.myTrips-layer{
    background-color: rgba(239, 235, 235, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    backdrop-filter: blur(2px); 
}

.display-my-trips-cards{
    padding: 40px;
    /* width: 100vw; */
    height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-position: fixed;
    overflow-y: scroll;
}

.myTrips-page{
    display: flex;
    margin: 30px auto;
    padding-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid black; */
    width: 80vw;
    max-width: 1600px;
}

.myTrip-card{
    background-color: rgba(239, 235, 235, 0.7);
    backdrop-filter: blur(5px);
    color: var(--dark-blue);
    margin: 30px;
    width: 15vw;
    max-width: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--blue-see-through);
}

.myTrip-card-img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 7px;
    border: 2px solid var(--white-see-through);
    box-shadow: 5px 5px 10px var(--blue-see-through);
}

.view-single-trip{
    box-shadow: 5px 5px 10px var(--blue-see-through);
}
.view-single-trip:hover{
    background-color: var(--blue);
    /* color: var(--white); */
}

.add-new-trip-link{
    position: absolute;
    top: 20px;
    right: 35px;
    color: var(--dark-blue);
    background-color: transparent;
}

.add-new-trip-link:hover{
   text-decoration: underline;
   color: var(--orange);
   background-color: transparent;
}

/* ------- Single Trip View -------*/
.single-trip-page{
    position: relative;
    background-color: var(--white);
    margin: 0 auto;
    /* height: 100vh; */
    width: 100%;
    overflow-y: scroll;
    background-position: fixed;
    max-width: 1800px;
    min-height: 80vh;

}

.single-trip-page span{
    padding-bottom: 20px;
}

.single-trip-container{
    display: flex;
    /* margin: 0 auto; */
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-evenly;
    width: 70vw;
    max-width: 1600px;
    margin: 50px auto;
    padding: 10px;
}
.single-trip-details, .single-trip-images{
    width: 50%;
}

.single-trip-details{
    /* border-right: 2px solid var(--light-grey);  */
}

.single-trip-details p{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

/* on the view trip page (only 3 images max are shown here) */
.trip-img-profile-page{
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 7px;
}

.single-trip-images{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.view-images{
    position:absolute;
    width: 5vw;
    top:0px;
    right: 60px;
    border: none;
    color: var(--blue);
    background-color: transparent;

}
.view-images:hover{
    color: var(--orange);
    background-color: transparent;
    text-decoration: underline;

}

.add-images-btn{
    position:absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 16px;
    bottom: 0px;
    right: 0px;
    color: var(--white);
    background-color: var(--dark-blue);

}

.edit-trip-btn{
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.delete-trip-btn{
    position: absolute;
    left: 50px;
    bottom: 10px;
}


@media screen and (max-width: 768px) {

    .single-trip-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .single-trip-details{
        border: none;
        margin-bottom: 30px;
    }

    .view-images{
        position:inherit;
        width: 80vw;
    }

    .add-images-btn{
        right: -80px;
    }

}

