.display-my-trips-cards{
    padding: 40px;
    /* width: 100vw; */
    height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-position: fixed;
    overflow-y: scroll;
}

.myTrips-page{
    display: flex;
    margin: 30px auto;
    padding-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid black; */
    width: 90vw;
    /* height: 100vh;  */
    max-width: 1600px;
    /* background-position: fixed; */
    /* overflow-y: scroll; */
}

.myTrip-card{
    background-color: var(--dark-blue);
    margin: 30px;
    width: 15vw;
    max-width: 400px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px var(--deep-blue);
}

.myTrip-card-img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 5px 5px 10px var(--deep-blue);
}

.view-single-trip{
    background-color: var(--ocean-blue);
    color: var(--dark-blue);
    box-shadow: 5px 5px 10px var(--deep-blue);
}
.view-single-trip:hover{
    background-color: var(--blue);
    color: var(--yellow);
}

.add-new-trip-link{
    position: absolute;
    top: 20px;
    right: 35px;
    color: var(--ocean-blue);
}

.add-new-trip-link:hover{
   text-decoration: underline;
   color: var(--yellow);
}

/* ------- Single Trip View -------*/
.single-trip-page{
    position: relative;
    background-color: var(--blue);
    margin: 0 auto;
    /* height: 100vh; */
    width: 100%;
    overflow-y: scroll;
    background-position: fixed;
    max-width: 1800px;

}

.single-trip-container{
    display: flex;
    /* margin: 0 auto; */
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    width: 80vw;
    max-width: 1600px;
    margin: 100px auto;
    padding: 10px;
}
.single-trip-details, .single-trip-images{
    width: 50%;
}

.single-trip-details{
    border-right: 2px solid var(--light-grey); 
}

/* on the view trip page (only 3 images max are shown here) */
.trip-img-profile-page{
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 7px;
}

.single-trip-images{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.view-images{
    position:absolute;
    width: 5vw;
    top:0px;
    right: 60px;
    border: none;
    color: var(--dark-blue);
    background-color: transparent;

}

.add-images-btn{
    position:absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 16px;
    bottom: 0px;
    right: 0px;
    color: var(--white);
    background-color: var(--dark-blue);

}

.edit-trip-btn{
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.delete-trip-btn{
    position: absolute;
    left: 50px;
    bottom: 10px;
}


@media screen and (max-width: 768px) {

    .single-trip-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .single-trip-details{
        border: none;
        margin-bottom: 30px;
    }

    .view-images{
        position:inherit;
        width: 80vw;
    }

    .add-images-btn{
        right: -80px;
    }

}

