/* -------Activities --------*/
.activities-container{
    position: relative;
    width: 80vw;
    margin: 5px auto;
    border-top: 2px solid var(--light-grey);
    max-width: 1600px;
    padding-bottom: 100px;
}

.myActivity-card{
    position: relative;
    text-align: left;
    width: 70%;
    margin: 5px auto;
    border-bottom: 2px solid var(--light-grey);
    padding: 10px;
}

.add-activity{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 15vw;
}

.edit-activity, .delete-activity{
    position: absolute;
    width: 40px;
    border: none;
    color: var(--dark-blue);
    background-color: transparent;
    top: 10px;
    right: 10px;
    font-size: 18px;
    /* border: 2px solid var(--dark-blue); */
}

.edit-activity{
    right: 45px;
    padding: 9px;
}

.activity-form-page{
    color: var(--dark-blue);
    margin: 0 auto;
    padding-top: 50px;
}

.add-activity-form{
    /* color: var(--dark-blue);
    margin: 0 auto; */
}

.add-activity-form select{
    width: 20vw;
    margin: 0 auto;
    padding: 5px;
    border-radius: 7px;
}

@media screen and (max-width: 768px) {

.add-activity{
    font-size: 12px;
}
}
