/* -------Activities --------*/
.activities-container{
    position: relative;
    width: 70vw;
    margin: 5px auto;
    border-top: 2px solid var(--blue-see-through);
    max-width: 1600px;
    padding: 50px;
}

.activities-container h3{
    font-size: 1.7rem;
    font-weight: 700;
}

.myActivity-card{
    position: relative;
    text-align: left;
    width: 70%;
    margin: 5px auto;
    border-bottom: 2px solid var(--light-grey);
    padding: 10px;
}

.edit-activity, .delete-activity{
    position: absolute;
    width: 40px;
    border: none;
    color: var(--dark-blue);
    background-color: transparent;
    top: 10px;
    right: 10px;
    font-size: 18px;
    /* border: 2px solid var(--dark-blue); */
}

.add-activity{
    position: absolute;
    font-size: 14px;
    top: 5px;
    right: 10px;
    width: 10vw;
}

.edit-activity{
    right: 45px;
    padding: 9px;
}

.edit-activity:hover, .delete-activity:hover{
    background-color: var(--dark-blue);
    color: var(--white);
}

.activity-form-page{
    background-image: url('../../ImageFolder/map-planning.jpg');
    background-repeat: no-repeat;
    background-position: top 48% right 0%;
    background-size: cover;
    color: var(--dark-blue);
    margin: 0 auto;
    padding-top: 50px;
    min-height: 72vh;
    position:relative;
    z-index: 1;
}

.activity-form-layer{
    background-color: rgba(210, 193, 187, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* backdrop-filter: blur(2px);
     */
}

.add-activity-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
    /* background-color: yellow; */
    padding: 20px 0;
}

.add-activity-form label{
    padding: 10px;
    font-weight: bold;
}
.add-activity-form input{
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 14px;
    width: 60%;
    border-radius: 20px;
    padding: 8px;
    border: none;
    background-color: var(--white-see-through);
}

.add-activity-form textarea{
    width: 70%;
    height: 10vh;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 14px;
    background-color: var(--white-see-through);

}

.add-activity-form select{
    width: 40%;
    margin: 0 auto;
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: var(--dark-blue);
    background-color: var(--white-see-through);
}

@media screen and (max-width: 768px) {

.add-activity{
    font-size: 12px;
    width: 20vw;
}

.add-activity-form{
   width: 90vw;
}
}

@media screen and (max-width: 500px) {

.myActivity-card{
    width: 100%;
}

.add-activity{
    font-size: 12px;
    width: 20vw;
    right: 15px;
}

.activities-container h4{
    width: 50%;
}

}
