

.trip-images-page{
    margin:0 auto;
    min-height: 68vh;;
    padding: 40px 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;

    /* align-items: center; */
    /* background-color: aqua; */
}

.img-card{
    margin: 10px auto;
    height: 400px;
    width: 400px;
    /* border: 1px solid black; */
    position: relative;

}

.single-trip-img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 7px;
    margin: 0 auto;
}

.delete-img{
    position: absolute;
    right: 3px;
    bottom: 3px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    /* border: 1px solid var(--dark-blue); */
    padding: none;

}

.delete-img:hover{
    background-color: var(--orange);
}

.add-trip-img-btn{
    position:absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 16px;
    top:0px;
    right: 20px;
    color: var(--white);
    background-color: var(--dark-blue);
}

/*-------ADD IMGs Form -------*/

.add-images-form-page{
    /* height: 40vh; */
    /* background-color: var(--white); */
    width: 90%;
    margin: 0 auto;
}

.add-images-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid var(--dark-blue); */
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
    margin: 70px auto 0 auto;
}

/* #file-upload styled in StyleProfile.css */

.add-images-form input{
    margin: 10px auto;
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 7px;
    color: (--white);
}

#file-upload{
    width: 100%;
}


.add-images-form-page h2{
    margin: 0;
    padding: 30px;
}

@media screen and (max-width: 970px) {

   .add-trip-img-btn{
    right: 5px;
   } 

}
@media screen and (max-width: 768px) {
    .img-card, .single-trip-img{
        height: 250px;
        width: 250px;
    }

    .add-trip-img-btn{
        border: none;
        font-size: 20px;
        height: 30px;
        width: 30px;
       }

       .add-images-form-page h3{
        font-size: 18px;
    }

}
