.trip-form-container{
    max-width: 1600px;
}

.trip-form-container h2{
    margin-top: 50px;
}
.trip-form{
    max-width: 50vw;
    /* background-color: aquamarine; */
    border: 1px solid var(--dark-blue);
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
}

.trip-form input{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--dark-blue);
}

.trip-form textarea{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--dark-blue);
    width: 80%;
    height: 15vh;
    margin: 10px auto;
}

.edit-trip-form{
    margin-top: 50px;
}