.trip-form-page{
    height: 100vh;
    background-color: var(--blue);
    max-width: 1600px;
    margin: 0 auto;
}

.trip-form-container{
    max-width: 1600px;
    /* border: 1px solid var(--dark-blue); */
}

.trip-form-container h2{
    padding-top: 50px;
    margin: 0;
}
.trip-form{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--dark-blue); */
    padding: 10px;
    width: 80vw;
    max-width: 500px;
    border-radius: 15px;
    margin: 20px auto;
}

.trip-form input{
    width: 60%;
    margin: 10px auto;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--dark-blue);
}

.trip-form textarea{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--dark-blue);
    width: 40vw;
    max-width: 400px;
    height: 15vh;
    margin: 10px auto;
}

#file-upload-trip-form{
    width: 50%;
    border: none;
    /* border: 1px solid var(--dark-blue); */

}

.edit-trip-form{
    margin-top: 50px;
}
