/* .trip-form-page{
    height: 100vh;
    background-color: var(--blue);
    max-width: 1600px;
    margin: 0 auto;
} */


.trip-form-container h2{
    padding-top: 20px;
    margin: 10px auto 30px auto;
    color: var(--white);
}
.trip-form{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
    width: 80vw;
    max-width: 500px;
    border-radius: 15px;
    margin: 0px auto;
    color: var(--white);
}

.trip-form label{
    font-size: 18px;
}

.trip-form input{
    width: 60%;
    margin: 10px auto;
    padding: 5px;
    border-radius: 15px;
    background-color: var(--white-see-through);
    color: var(--dark-blue);
    font-weight: bold;
    border: none;
}

.trip-form textarea{
    padding: 5px;
    border-radius: 15px;
    background-color: var(--white-see-through);
    color: var(--dark-blue);
    font-weight: bold;
    width: 40vw;
    max-width: 400px;
    height: 15vh;
    margin: 10px auto;
    border: none;
}

#file-upload-trip-form{
    width: 50%;
    border: none;
    background-color: var(--light-blue);
    /* border: 1px solid var(--dark-blue); */

}


/* .edit-trip-form{
    margin-top: 50px;
} */
